<connectionStrings>
  <add name="PartsDatabase"
       connectionString="Server=AMERANDPISQL01\AMERPRODSCSQL22;Database=PBarTOBSchedule;User ID=YOUR_SQL_USER;Password=YOUR_SQL_PASSWORD;"
       providerName="System.Data.SqlClient" />
</connectionStrings>
